<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="error-container">
    <h1><%= message %></h1>
    <% if (process.env.NODE_ENV === 'development' && error.stack) { %>
      <pre><%= error.stack %></pre>
    <% } %>
    <a href="/" class="btn btn-primary">Go Home</a>
  </div>
</body>
</html>
